<h1 mat-dialog-title>
    {{title}}
</h1>
   
<div mat-dialog-content>
    <p>{{message}}</p>
</div>
   
<div mat-dialog-actions>
    <button mat-button mat-dialog-close >No</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" >Yes</button>
</div>