.create-pizza-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em ;

}
.create-pizza-container > mat-card{
    width: 90%;
    background-color: #ffebcde0;
    box-shadow: 0px 0px 3px 4px darkorange;
  }
  .create-pizza-container > mat-card > mat-card-header{
    display: flex;
    justify-content: center;
    color:#040451;
  }
  mat-card-actions{
    text-align: right;
  }