<pizza-main-navigation [hideCreatePizzaButton]="hideCreatePizza"></pizza-main-navigation>
<ng-container *ngIf="combine| async">
    <mat-progress-bar *ngIf="scroll" mode="indeterminate"></mat-progress-bar>
</ng-container>

<router-outlet ></router-outlet>
