.pizza-size-selector-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
 .pizza-size-selector-container > mat-label{
  flex: 1;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.label{
    /*  width:40%; */
     font-size: 1.2rem;
     font-weight: 600;
     letter-spacing: 1px;
     color: #030324;
   }
.toppingsLabel{
    width: 50%;
  }
  .toppings{
    line-height: 35px;
  }
  mat-checkbox{
    font-size: 1.2rem;
  }
  /*
        Media Queries...
  */

  @media screen and (max-width: 768px){
    .pizza-size-selector-container{
        flex-direction: column;
      }
      .pizza-size-selector-container > mat-label{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1em;
      }
      .toppingsLabel{
            width: auto;
       }
       .label{
        width: auto;
      }
  }