<div class="mb-1 pizza-size-selector-container">
    <div class="toppingsLabel">
      <h3 class="label mb-1"> Add Extra Toppings </h3>
      <mat-card-subtitle> <h4> Extra toppings costs you only <b> 20rs </b> Each </h4> </mat-card-subtitle>
    </div>
      <section class="toppings" >
 
        <mat-checkbox [id]="selectedIndex" *ngFor="let availableToppings of pizzaToppings; let selectedIndex = index;"
                    name="{{selectedIndex}}-cName" #selectedCheckboxes  class="ml-1" 
                    [disabled]="selectedSize?.length === 0 "
                    [checked]="availableToppings.isSelected" 
                    (change)="setToppingsSelected(selectedIndex, $event, availableToppings)" >
            {{availableToppings.toppingName}}
        </mat-checkbox>
        
      </section>

  </div>
